{% extends "dashboard/base_dashboard.html" %}

{% block title %}
Supprimer un niveau
{% endblock %}

{% block page_title %}
Supprimer un niveau
{% endblock %}

{% block content %}

<div class="card shadow-sm border-danger rounded-4">
    <div class="card-header bg-danger text-white">
        <h4><i class="bi bi-trash"></i>Confirmation</h4>
    </div>
    <div class="card-body">
        <p class="fs-5">Voulez-vous vraiment supprimer le niveau<strong>{{ niveau.nom }}</strong> ?</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger"><i class="bi bi-trash"></i>Supprimer</button>
            <a href="{% url 'categories:niveau_list' %}" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Annuler </a>
        </form>
    </div>
</div>

{% endblock %}