{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'resources.css' %}">
{% endblock %}

{% block title %}Documents pédagogiques{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Documents pédagogiques</h1>
    <a class="button" href="{% url 'document_create' %}">Ajouter un document</a>
</div>

{% if documents %}
    <div class="document-grid">
        {% for document in documents %}
            <article class="document-card">
                <h2>{{ document.title }}</h2>
                <p>{{ document.description }}</p>
                <p class="document-meta"> Ajouté par {% if document.auteur %}{{ document.auteur.username }} {% else %}Anonyme {% endif %}
                 le {{ document.created_at|date:"d/m/Y H:i" }}
                </p>
                <div class="d-flex gap-2 mt-3 flex-wrap">
                    <a href="{{ document.file.url }}" class="btn btn-success btn-sm" download> 
                          <i class="bi bi-download"></i> </a>
                    <a href="{% url 'document_update' document.pk %}" class="btn btn-warning btn-sm"> 
                        <i class="bi bi-pencil"></i> </a>
                    <a href="{% url 'document_delete' document.pk %}" class="btn btn-danger btn-sm"> 
                        <i class="bi bi-trash"></i></a>
                </div>
            </article>
        {% endfor %}
    </div>
{% else %}
    <p>Aucun document disponible pour le moment.</p>
{% endif %}
{% endblock %}
