<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Plateforme pédagogique</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <header>
        <div class="top-bar">

        <a href="/connexion" class="btn-header"> Connexion</a>
        <a href="/inscription" class="btn-header"> Créer un compte</a>
    </div>
        <h1>Plateforme pédagogique</h1>
        <p>Apprenez, progressez et gérez vos cours en toute simplicité.</p>
     <div class="search-box">
         <form class="search-form">
        <input type="text" placeholder="Rechercher un document, une matière ou un enseignant...">
        <button type="submit">Rechercher</button>
    </form>
     </div>
    </header>
    <main>
        <section>
            <h2>Bienvenue</h2>
            <p>Cette plateforme vous permet de découvrir des ressources, de suivre vos formations et de gérer votre profil.</p>
        </section>
        <section>
            <h3>Ce que nous décidons de vous offrir à travers notre plateforme</h3>
            <ul>
                <li>Accès à des cours, exercices et ressources pédagogiques</li>
                <li>Créer et gérer votre compte</li>
                <li> Vous avez un Profil utilisateur personnalisé</li>
            </ul>
        </section>
        <section class="documents-section">
    <h2>Documents récemment publiés</h2>
    <p class="documents-intro"> Découvrez les derniers documents mis en ligne par les enseignants. </p>
    <div class="documents-grid">
        {% for document in documents %}
        <div class="document-card">
            <div class="document-top">
                <h3>{{ document.title }}</h3>
                <span class="badge-matiere">{{ document.matiere }}</span>
            </div>
            <p class="description">{{ document.description|truncatewords:25 }}</p>
            <div class="document-info">
                <p>  <strong>Enseignant :</strong>{{ document.auteur.username }}</p>
                <p> <strong>Niveau :</strong>{{ document.niveau }} </p>
                <p><strong>Date :</strong>{{ document.created_at|date:"d/m/Y" }} </p>
            </div>
            <div class="document-actions">
                <a href="{% url 'document_detail' document.pk %}" class="btn-document"> Voir le document</a>
            </div>
        </div>
        {% empty %}
        <div class="no-document">
            Aucun document n'a encore été publié.
        </div>
        {% endfor %}
    </div>
</section>
   
    </main>
    <footer>
        <p>&copy; 2026 Plateforme pédagogique.</p>
    </footer>       