{% extends "dashboard/base_dashboard.html" %}

{% block title %}Gestion des niveaux{% endblock %}
{% block page_title %}Gestion des niveaux{% endblock %}

{% block content %}

<div class="row g-4 mb-4">

    <div class="col-lg-4">
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <small class="text-muted">Niveaux enregistrés</small>
                        <h2 class="fw-bold text-primary">{{ nb_niveaux }}</h2>
                    </div>
                    <i class="bi bi-diagram-3-fill fs-1 text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 shadow rounded-4 mb-4">
    <div class="card-header bg-white">
        <div class="d-flex justify-content-between">
            <h5> <i class="bi bi-lightning-charge-fill"></i> Actions rapides </h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-6">
                <a href="{% url 'categories:niveau_add' %}" class="btn btn-primary w-100 py-3"><i class="bi bi-plus-circle"></i><br>
                    Ajouter un niveau
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'categories:niveau_list' %}" class="btn btn-success w-100 py-3"> <i class="bi bi-list-ul"></i><br>
                    Liste des niveaux
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm border-0 rounded-4">
    <div class="card-header bg-white d-flex justify-content-between">
        <h5>  <i class="bi bi-clock-history"></i>Derniers niveaux </h5>
        <a href="{% url 'categories:niveau_list' %}"class="btn btn-outline-primary btn-sm"> Voir tout</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Ordre</th>
                    </tr>
                </thead>
                <tbody>
                {% for niveau in derniers_niveaux %}
                    <tr>
                        <td><span class="badge bg-primary"> {{ niveau.nom }}</span></td>
                        <td>{{ niveau.ordre }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="text-center">Aucun niveau enregistré.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}